@{
    ViewData["Title"] = "Contact";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                        <h2>Contato</h2>
                        <address>
                            <br />Itapema, SC 88220-000<br />
                            <br />+55(48)98855-5830
                        </address>
                        <br />
                        <br />
                        <address>
                            <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/joao-vitor-de-souza-824875116/">Support@example.com</a><br /><br />
                            <strong>GitHub:</strong> <a href="https://github.com/JSouza13">Marketing@example.com</a><br /><br />
                            <strong>E-mail:</strong> <a href="mailto:jooao_souza@hotmail.com">Marketing@example.com</a>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>