@{
    ViewData["Title"] = "Home Page";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                        <h2>Bem vindo ao Gerenciador de Consultas</h2>
                        <br />
                        <br />
                            <p>
                                Olá, me chamo João Vitor de Souza, sou aluno de Ciência da Computação na Universidade do Vale do Itajai (UNIVALI).
                                Sou entusiasta da técnologia, dificilmente você me verá parado hehe, sempre estou buscando novos conhecimentos,
                                sempre fazendo cursos ou buscando conhecimentos de outras formas.
                            </p>
                            <p>
                                Essa aplicação foi concebida com o propósito de treinamento da Linguagem C#, utilizando .Net Core e Entity framework. 
                                A ideia é estar atualizando a mesma conforme for adiquirindo mais conheciemnto.
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="row clearfix">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
            <div class="header">
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2>Meu GitHub</h2>
                        <br />
                        <p>Você poderá verificar quais projetos tenho trabalhado ultimamente clicando aqui em baixo.</p>
                        <p><a class="btn bg-deep-purple btn-lg m-l-15 waves-effect" href="https://github.com/JSouza13">GitHub &raquo;</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
            <div class="header">
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2>Meu Linkedin</h2>
                        <br />
                        <p>Você poderá me achar atráves do meu Linkedin clicando aqui em baixo.                    </p>
                        <p><a class="btn bg-deep-purple btn-lg m-l-15 waves-effect" href="https://www.linkedin.com/in/joao-vitor-de-souza-824875116/">Linkedin &raquo;</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

